.actions {
  padding-top: 135px;
  padding-bottom: 120px;

  @include vp-1199 {
    padding-top: 91px;
    padding-bottom: 101px;
  }

  @include vp-767 {
    padding-top: 62px;
    padding-bottom: 70px;
  }
}

.actions__title {
  margin-bottom: 34px;
  text-align: center;

  @include vp-1199 {
    margin-bottom: 41px;
  }

  @include vp-767 {
    margin-bottom: 44px;
  }
}

.actions__wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 30px;

  @include vp-1199 {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
}

.action__col {
  &--main {
    width: 560px;

    @include vp-1199 {
      width: 100%;
    }
  }

  &--other {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 30px;

    @include vp-1199 {
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
    }

    @include vp-767 {
      flex-direction: column;
    }
  }
}

.actions__item {
  background: linear-gradient(135deg, #d10a42 0%, #0041ca 100%);
  padding: 7px 7px;

  &--free {
    min-height: 211px;

    @include vp-1199 {
      width: 47.79%;
    }

    @include vp-767 {
      width: 100%;
    }
  }

  &--discount {
    min-height: 211px;

    @include vp-1199 {
      width: 47.79%;
    }

    @include vp-767 {
      width: 100%;
    }
  }
}

.actions__item--main {
  display: flex;
  padding: 0;
  background: none;

  & .actions__item-title {
    color: $text-light;
    font-size: 28px;
    line-height: 156%;

    @include vp-767 {
      margin-bottom: 0;
      text-align: center;
    }
  }

  & .actions__item-descr {
    margin-top: -3px;
    color: $text-light;
    font-size: 18px;

    @include vp-767 {
      margin-top: -6px;
      margin-bottom: 24px;
      text-align: center;
    }
  }

  & b {
    margin-top: -25px;
    color: $text-light;
    font-size: 70px;
    font-weight: 700;
    line-height: 156%;

    @include vp-767 {
      text-align: center;
    }
  }

  @include vp-767 {
    flex-direction: column;
  }
}

.actions__item-col {
  &--left {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    padding-left: 45px;
    padding-right: 46px;
    padding-top: 33px;
    padding-bottom: 41px;
    align-items: flex-start;
    background-color: #ed0233;

    @include vp-1199 {
      flex: 0 1 41.15%;
      padding-right: 45px;
    }

    @include vp-767 {
      flex: 0 1 100%;
      align-items: stretch;
      min-height: 299px;
      padding-bottom: 40px;
    }
  }

  &--right {
    flex: 0 1 50%;

    @include vp-1199 {
      flex: 0 1 58.85%;
    }

    @include vp-767 {
      flex: 0 1 100%;
      overflow: hidden;
    }
  }
}

.actions__item-col--right img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include vp-767 {
    height: 100%;
  }
}

.actions__item-content {
  background-color: $color-default-white;
  display: flex;
  flex-direction: column;
  min-height: calc(211px - 14px);
  height: 100%;
  padding-right: 35px;
  padding-left: 28px;
  padding-top: 17px;
  padding-bottom: 23px;
  align-items: flex-start;

  @include vp-767 {
    align-items: stretch;
    padding-top: 28px;
    padding-bottom: 34px;
    padding-left: 35px;
  }
}

.actions__item-title {
  margin: 0;
  margin-bottom: 2px;
  font-size: 26px;
  font-weight: 700;
  line-height: 150%;
  color: #1c3374;

  @include vp-767 {
    text-align: center;
  }
}

.actions__item-descr {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #1c3374;

  @include vp-767 {
    text-align: center;
  }
}

.actions__item-link {
  margin-top: auto;
  margin-left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30px;
  padding-left: 9px;
  padding-right: 9px;
  border: 1px solid transparent;
  color: $text-dark;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    bottom: 4px;
    left: 9px;
    right: 9px;
    height: 1px;
    background-color: $text-dark;
  }

  @include hover {
    opacity: 0.8;

    @include active {
      opacity: 1;
      color: $text-dark;

      &::after {
        background-color: $text-dark;
      }
    }
  }

  @include focus {
    outline: none;
    border: 1px solid $text-dark;

    &::after {
      display: none;
    }
  }

  @include vp-767 {
    margin-left: 0;
    text-align: center;
    align-self: center;
    justify-self: end;
  }
}

.actions__item-link--main {
  margin-top: auto;
  color: $text-light;
  font-size: 14px;
  letter-spacing: 0.7px;

  &::after {
    background-color: $color-default-white;
  }

  @include hover {
    opacity: 0.8;

    @include active {
      opacity: 1;
      color: $text-light;

      &::after {
        background-color: $text-light;
      }
    }
  }

  @include focus {
    border: 1px solid $text-light;
  }

  @include vp-767 {
    margin-top: 0;
    text-align: center;
    align-self: center;
  }
}
