.contacts {
  padding-top: 56px;
  padding-bottom: 70px;
  padding-right: 159px;
  padding-left: 120px;

  @include vp-1365 {
    padding-top: 60px;
    padding-bottom: 62px;
    padding-left: 45px;
    padding-right: 45px;
  }

  @include vp-767 {
    padding-top: 62px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.contacts__title {
  margin-bottom: 43px;

  @include vp-1365 {
    margin-bottom: 42px;
  }

  @include vp-767 {
    margin-bottom: 34px;
  }
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 57.92% 42.08%;
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 17px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 1px;
    height: auto;
    top: 7px;
    bottom: 6px;
    left: 57.92%;
    background-color: #74819C;

    @include vp-1365 {
      left: 52.21%;
    }

    @include vp-767 {
      display: none;
    }
  }

  @include vp-1365 {
    grid-template-columns: 52.21% 47.79%;
    grid-row-gap: 19px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    row-gap: 19px;
  }
}

.contacts__item {
  &:nth-child(2n) {
    padding-left: 60px;

    @include vp-1365 {
      padding-left: 48px;
    }

    @include vp-767 {
      padding-left: 0;
    }
  }
}

.contacts__item-title {
  margin: 0;
  margin-bottom: 2px;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;

  @include vp-1365 {
    margin-bottom: 4px;
    font-size: 20px;
  }
}

.contacts__item-text {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 152.344%;

  &--phone {
    color: inherit;
    text-decoration: none;
  }

  &--email {
    color: inherit;
    text-decoration: none;
  }

  @include vp-1365 {
    font-size: 18px;
  }
}
