.faq {
  padding-top: 120px;
  padding-bottom: 122px;
  background-color: $color-grey;

  @include vp-1199 {
    padding-top: 100px;
    padding-bottom: 104px;
  }

  @include vp-767 {
    padding-top: 70px;
    padding-bottom: 73px;
  }
}

.faq__title {
  margin-bottom: 38px;

  @include vp-1199 {
    margin-bottom: 40px;
    text-align: center;
  }

  @include vp-767 {
    margin-bottom: 30px;
  }
}

.faq__tabs {
  display: flex;
  column-gap: 40px;

  @include vp-1199 {
    flex-wrap: wrap;
  }
}

.faq__tabs-controls {
  flex: 0 1 22.41%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  @include vp-1199 {
    flex-direction: row;
    column-gap: 10px;
    flex: 0 1 100%;
    margin-bottom: 39px;
  }

  @include vp-767 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    margin-bottom: 29px;
  }
}

.faq__tabs-control {
  min-height: 54px;
  border: 1px solid rgba(16, 38, 84, 0.2);

  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-transform: capitalize;

  &.is-active {
    background: $fill-gradient;
    color: $text-light;
    opacity: 0.7;
  }

  @include vp-1199 {
    flex: 0 1 25%;
    font-size: 16px;
  }

  @include vp-767 {
    min-height: 44px;
  }
}

.faq__tabs-content {
  flex: 0 1 74%;

  @include vp-1199 {
    flex: 0 1 100%;
  }
}

.faq__tabs-element {
  width: 100%;
}

.faq__item {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 24px;
  border-top: 1px solid rgba(28, 51, 116, 0.2);
  border-bottom: 1px solid rgba(28, 51, 116, 0.2);

  &:not(:first-child) {
    border-top: none;
  }

  @include vp-1199 {
    padding-bottom: 23px;
  }

  @include vp-767 {
    padding-top: 20px;
    padding-bottom: 19px;
  }
}

.faq__item-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq__item-title {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;

  @include vp-767 {
    max-width: 238px;
    font-size: 18px;
  }
}

.faq__item-descr {
  margin: 0;
  max-width: 660px;
  font-size: 18px;
  font-weight: 300;
  line-height: 140%;

  @include vp-1199 {
    max-width: 560px;
  }

  @include vp-767 {
    font-size: 16px;
    max-width: auto;
  }
}

.faq__item-button {
  flex-shrink: 0;
  cursor: pointer;
  padding: 0;
  margin-left: 5px;
  width: 42px;
  height: 42px;
  border: 1px solid $stroke-dark;
  border-radius: 50%;
  background-color: transparent;
  position: relative;

  @include hover-focus {
    background-color: $stroke-dark;

    &::before,
    &::after {
      background-color: $color-default-white;
    }
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    background-color: $stroke-dark;
    top: 50%;
    left: 50%;
  }

  &::before {
    width: 18px;
    height: 1px;
    transform: translateX(-50%);

    @include vp-767 {
      width: 12px;
    }
  }

  &::after {
    width: 1px;
    height: 18px;
    transform: translateY(-50%);

    @include vp-767 {
      height: 12px;
    }
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  @include vp-767 {
    width: 32px;
    height: 32px;
  }
}

.faq__item.is-active {
  & .faq__item-inner {
    margin-bottom: 8px;

    @include vp-767 {
      margin-bottom: 12px;
    }
  }

  & .faq__item-title {
    @include vp-1199 {
      margin-top: -6px;
      line-height: 100%;
    }

    @include vp-767 {
      margin-top: 0;
      line-height: 120%;
    }
  }

  & .faq__item-button {
    background-color: $stroke-dark;

    &::before {
      background-color: $color-default-white;
    }

    &::after {
      display: none;
    }
  }

  @include vp-767 {
    padding-bottom: 20px;
  }
}
