.features {
  background-color: $color-grey;
  padding-top: 108px;
  padding-bottom: 129px;

  @include vp-1365 {
    padding-top: 91px;
    padding-bottom: 95px;
  }

  @include vp-767 {
    padding-top: 63px;
    padding-bottom: 62px;
  }
}

.features__container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 163px;

  @include vp-1365 {
    padding: 0 45px;
  }

  @include vp-767 {
    padding: 0 15px;
  }
}

.features__title {
  margin-bottom: 26px;
  text-align: center;

  @include vp-1365 {
    margin-bottom: 28px;
  }
}

.features__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 340px 240px 340px;
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 60px;
  grid-row-gap: 130px;
  position: relative;

  &::before,
  &::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 340px;
    top: 50%;
    background-color: rgba(209, 10, 66, 0.20);
    transform: translateY(-50%);
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

  @include vp-1365 {
    grid-template-columns: 324px 324px;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 30px;
    grid-row-gap: 0;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
  }
}

.features__item {
  &--square {
    grid-area: 1 / 1 / 2 / 2;

    @include vp-1365 {
      grid-area: 1 / 1 / 2 / 2;
    }
  }

  &--parking {
    grid-area: 1 / 3 / 2 / 4;

    @include vp-1365 {
      grid-area: 1 / 2 / 2 / 3;
    }
  }

  &--comfort {
    grid-area: 2 / 1 / 3 / 2;

    @include vp-1365 {
      grid-area: 3 / 1 / 4 / 2;
    }
  }

  &--experience {
    grid-area: 2 / 3 / 3 / 4;

    @include vp-1365 {
      grid-area: 3 / 2 / 4 / 3;
    }
  }

  &--main {
    grid-area: 1 / 2 / 3 / 3;
    align-self: start;
    margin-top: 29px;

    @include vp-1365 {
      grid-area: 2 / 1 / 3 / 3;
    }
  }
}

.features__item-row {
  display: flex;
}

.features__item-col {
  & span {
    display: block;
    background-image: linear-gradient(129deg, #D10A42 0%, #0041CA 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 71px;
    font-weight: 700;
    line-height: 150%;
  }

  & small {
    display: block;
    margin-top: -21px;
    color: #2E35AC;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
  }
}

.features__item--square .features__item-col--left,
.features__item--comfort .features__item-col--left {
  padding-left: 20px;
}

// .features__item-col--left {
//   padding-left: 20px;
// }

.features__item-col--right {
  padding-top: 22px;
  padding-left: 29px;
}

.features__item-title {
  margin: 0;
  margin-bottom: 6px;
  font-size: 22px;
  font-weight: 700;
  line-height: 150%;
}

.features__item-descr {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 140%;
}

.features__item--main {
  background-color: #1C3374;
  padding-top: 35px;
  padding-bottom: 58px;
  padding-left: 34px;
  padding-right: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;

  & b {
    color: $text-light;
    font-size: 74px;
    font-weight: 700;
    line-height: 150%;
  }

  & span {
    margin-top: -16px;
    margin-bottom: 32px;
    color: $text-light;
    font-size: 26px;
    font-weight: 700;
    line-height: 150%;
  }
}

.features__item-text {
  margin: 0;
  color: $text-light;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
