.form {
  padding-top: 66px;
  padding-bottom: 66px;
  padding-left: 103px;
  padding-right: 170px;
  min-height: 337px;
  justify-content: center;

  & form {
    width: 100%;
    max-width: 414px;
    margin-left: auto;
    display: flex;
    flex-direction: column;

    @include vp-1199 {
      max-width: 100%;
    }
  }

  & button[type="submit"] {
    width: 100%;
    min-height: 56px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 5px;
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    text-transform: uppercase;

    transition: background-color, border, color $trans-default;

    background-color: transparent;
    color: $text-light;
    border: 4px solid $color-default-white;

    @include hover-focus {
      background-color: $color-default-white;
      color: $text-action;

      @include active {
        background-color: $color-default-white;
        color: $text-dark;
      }
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  @include vp-1199 {
    padding-top: 62px;
    padding-left: 132px;
    padding-right: 160px;
    min-height: 324px;
  }

  @include vp-767 {
    padding: 15px;
    padding-top: 63px;
    padding-bottom: 68px;
  }
}

.form__container {
  display: flex;
  column-gap: 30px;
  margin-bottom: 28px;

  @include vp-1199 {
    column-gap: 60px;
    margin-bottom: 26px;
  }

  @include vp-767 {
    flex-direction: column;
    column-gap: 0;
    row-gap: 33px;
    margin-bottom: 35px;
  }
}

.form__title {
  margin-bottom: 27px;
  color: $text-light;

  @include vp-1199 {
    margin-bottom: 33px;
  }

  @include vp-767 {
    margin-bottom: 36px;
  }
}

.form__field {
  position: relative;

  &--name {
    flex: 0 1 50%;
  }

  &--phone {
    flex: 0 1 50%;
  }
}

.form__field input {
  width: 100%;
  min-height: 27px;
  padding: 0;
  padding-bottom: 3px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba($color-default-white, 0.5);
  color: $text-light;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;

  &:placeholder {
    color: $text-light;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }

  @include hover {
    border-bottom: 1px solid $color-default-white;
    outline: none;

    @include active {
      padding-left: 6px;
      padding-right: 6px;
      border: 1px solid $color-default-white;
      outline: none;
    }
  }

  @include focus {
    padding-left: 6px;
    padding-right: 6px;
    border: 1px solid $color-default-white;
    outline: none;

    &::placeholder {
      color: transparent;
    }
  }

  &:disabled {
    opacity: 0.4;
    border: 1px solid rgba($color-default-white, 0.3);
  }

  & .text-error {
    color: $text-error;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }
}

.form__field .is-valid,
.form__field .is-invalid {
  position: absolute;
  font-size: 12px;
  line-height: normal;
  font-weight: 300;
  color: $text-light;
  left: 0;
  top: 32px;
}

.form__field .is-invalid {
  color: $text-error;
}
