.freebie__row {
  display: flex;

  @include vp-1365 {
    flex-direction: column;
  }
}

.freebie__col {
  &--form {
    background-color: $color-dark;
  }

  &--form,
  &--contacts {
    border-top: 1px solid #74819c;
    flex: 0 1 50%;

    @include vp-1365 {
      flex: 0 1 100%;
    }
  }
}
