.games {
  background-color: $color-default-white;
  padding-top: 119px;
  position: relative;
  z-index: 1;

  @include vp-1199 {
    padding-top: 100px;
  }

  @include vp-767 {
    padding-top: 70px;
  }
}

.games__wrapper {
  display: grid;
  grid-template-columns: 43.1% 56.9%;
  justify-content: center;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: -464px;
    right: -137px;
    width: 321px;
    height: 414px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 470px auto;
    background-image: url("../../img/decor-desktop.png");
    z-index: 2;

    @include vp-1200 {
      @include retina {
        background-size: 287px auto;
        background-image: url("../../img/decor-desktop@2x.png");
      }
    }

    @include vp-1199 {
      width: 384px;
      height: 374px;
      top: -419px;
      right: -82px;
      background-size: 424px auto;
      background-image: url("../../img/decor-tablet.png");

      @include retina {
        background-image: url("../../img/decor-tablet@2x.png");
      }
    }

    @include vp-767 {
      display: none;
    }
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
  }
}

.games__col {
  &--left {
    background-color: $color-red;
    padding-top: 80px;
    padding-bottom: 84px;
    padding-left: 76px;
    padding-right: 77px;

    @include vp-1199 {
      padding-top: 47px;
      padding-bottom: 50px;
      padding-left: 44px;
      padding-right: 44px;
      display: flex;
      flex-direction: column;
    }
  }

  &--right {
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.games__col-inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;
  padding-right: 4px;

  @include vp-1199 {
    padding-right: 0;
    margin-bottom: 0;
  }
}

.games__title {
  margin: 0;
  padding-top: 5px;
  padding-left: 12px;
  color: $text-light;
  font-family: $ff-alumniSans;
  font-size: 82px;
  font-weight: 600;
  line-height: 96%;
  letter-spacing: 2.46px;

  @include vp-1199 {
    margin-bottom: 0;
    padding-left: 7px;
    font-size: 48px;
    letter-spacing: 1.44px;
  }
}

.games__inner {
  display: flex;
  flex-direction: column;
}

.games__label {
  color: $text-light;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;

  @include vp-1199 {
    font-size: 12px;
  }
}

.games__date {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 8px;
  max-width: 64px;

  @include vp-1199 {
    margin-bottom: 0;
    max-width: 42px;
  }
}

.games__inner-text {
  color: $text-light;
  font-size: 40px;
  font-weight: 700;
  line-height: 150%;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    top: 5px;
    left: 0;
    background-color: $color-default-white;

    @include vp-1199 {
      top: 2px;
    }
  }

  &--date {
    display: flex;
    flex-wrap: wrap;
  }

  &--time {
    @include vp-1199 {
      margin-top: -2px;
    }
  }

  @include vp-1199 {
    font-size: 24px;
  }
}

.games__date-number {
  margin-right: 5px;

  @include vp-1199 {
    margin-right: 3px;
  }
}

.games__date-month,
.games__date-year {
  color: $text-light;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;

  @include vp-1199 {
    font-size: 10px;
  }
}

.games__date-year {
  margin-top: -3px;
}

.games__date-inner {
  margin: 0;
  padding-top: 10px;
  display: flex;
  flex-direction: column;

  @include vp-1199 {
    padding-top: 4px;
  }
}

.games__time {
  display: inline-flex;
  flex-direction: column;
  max-width: 88px;

  @include vp-1199 {
    max-width: 56px;
  }
}

.games__descr {
  margin: 0;
  margin-bottom: 47px;
  color: $text-light;
  font-size: 18px;
  line-height: 150%;

  @include vp-1199 {
    margin-bottom: 30px;
    font-size: 12px;
  }
}

.games__link {
  width: 100%;
  min-height: 71px;

  @include vp-1199 {
    min-height: 41px;
    font-size: 10px;
    letter-spacing: 0.5px;
  }
}
