.hero {
  margin-top: -23px;

  @include vp-1199 {
    margin-top: 0;
  }
}

.hero__row {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 64px;

  @include vp-1199 {
    column-gap: 28px;
    justify-content: center;
  }

  @include vp-767 {}
}

.hero__col {
  &--left {
    display: flex;
    flex-direction: column;
    width: 397px;
    padding-top: 110px;

    @include vp-1199 {
      width: 328px;
      padding-top: 50px;
    }

    @include vp-767 {
      padding-top: 0;
      width: 100%;
    }
  }

  &--right {
    @include vp-767 {
      display: none;
    }
  }
}

.hero__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  @include vp-767 {
    margin: 0 auto;
  }
}

.hero__text {
  width: 100%;
  margin-right: 51px;
  margin-bottom: 14px;
  color: $text-light;
  font-family: $ff-alumniSans;
  font-size: 48px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.44px;
  text-align: right;
  order: 1;

  @include vp-1199 {
    margin-bottom: 6px;
    margin-right: 4px;
    font-size: 34px;
    letter-spacing: 1.02px;
  }

  @include vp-767 {
    margin-bottom: 14px;
    font-size: 28px;
    letter-spacing: 0.84px;
  }
}

.hero__title {
  max-width: 247px;
  margin: 0;
  margin-bottom: 48px;
  text-align: right;
  color: $text-light;
  font-family: $ff-alumniSans;
  font-size: 92px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 4.6px;
  -webkit-text-stroke: 2px $text-light;
  text-transform: uppercase;
  order: 3;

  @include vp-1199 {
    max-width: 187px;
    margin-bottom: 37px;
    font-size: 72px;
    letter-spacing: 3.6px;
    text-transform: none;
  }

  @include vp-767 {
    margin-bottom: 24px;
  }
}

.hero__list {
  margin: 0;
  margin-top: 122px;
  margin-right: 17px;
  margin-bottom: 10px;
  padding: 0;
  list-style-type: none;
  order: 2;

  @include vp-1199 {
    margin-right: 27px;
    margin-top: 89px;
  }

  @include vp-767 {
    margin-top: 77px;
    margin-right: -16px;
  }
}

.hero__item {
  color: $text-light;
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.hero__btn {
  width: 100%;
  min-height: 61px;
  max-width: 234px;
  margin-left: auto;

  @include vp-1199 {
    max-width: 187px;
  }

  @include vp-767 {
    min-height: 63px;
    max-width: 100%;
  }
}

.hero img {
  width: 500px;
  height: 556px;
  object-fit: cover;

  @include vp-1199 {
    width: 324px;
    height: 390px;
  }
}
