.logo {
  &--header {
    position: relative;
    z-index: 1;
  }

  &--header img {
    width: 122px;
    height: 44px;

    @include vp-1199 {
      width: 82px;
      height: 17px;
    }

    @include vp-767 {
      width: 69px;
      height: 24px;
    }
  }

  &--footer img {
    width: 88px;
    height: 32px;

    @include vp-1199 {
      width: 82px;
      height: 18px;
    }

    @include vp-767 {
      width: 68px;
      height: 15px;
    }
  }

  @include hover-focus {
    outline: none;
    opacity: 0.8;

    @include active {
      opacity: 0.3;
    }
  }
}

.logo__sitemap-container {
  background-color: $fill-action;
  padding: 15px;
  padding-top: 25px;
}

.logo__sitemap-link {
  display: block;
  width: 122px;
  height: 44px;

  @include vp-1199 {
    width: 82px;
    height: 17px;
  }

  @include vp-767 {
    width: 69px;
    height: 24px;
  }
}
