.page-footer {
  background-color: $color-darker;
  padding-top: 41px;
  padding-bottom: 32px;

  @include vp-1365 {
    padding-top: 42px;
    padding-bottom: 44px;
  }

  @include vp-767 {
    padding-top: 50px;
    padding-bottom: 52px;
  }
}

.page-footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  // @include vp-767 {
  // }
}

// .page-fooetr__logo {
//   @include vp-767 {}
// }

// .page-fooetr__nav {
//   @include vp-767 {}
// }

// .page-fooetr__social-list {
//   @include vp-767 {}
// }
