.page-header {
  padding-top: 30px;
  padding-bottom: 51px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  // background-color: $color-gradient;
  background-image: $fill-gradient, url("../../img/hero-bg-desktop.png");

  @include retina {
    background-position: -220px -257px;
    background-size: 2732px auto;
    background-image: url("../../img/hero-bg-desktop@2x.png");
  }

  @include vp-1365 {
    padding-top: 35px;
    padding-bottom: 82px;
    background-image: url("../../img/hero-bg-tablet.png");

    @include retina {
      background-position: -158px -198px;
      background-size: 1536px auto;
      background-image: url("../../img/hero-bg-tablet@2x.png");
    }
  }

  @include vp-767 {
    padding-top: 15px;
    padding-bottom: 76px;
    background-image: url("../../img/hero-bg-mobile.png");

    @include retina {
      background-position: -113px -168px;
      background-size: 640px auto;
      background-image: url("../../img/hero-bg-mobile@2x.png");
    }
  }

  @include vp-520-767 {
    @include retina {
      background-position: -158px -198px;
      background-size: 1536px auto;
      background-image: url("../../img/hero-bg-tablet@2x.png");
    }
  }
}

.page-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  @include vp-1365 {
    margin-bottom: 18px;
    align-items: center;
  }

  @include vp-767 {
    margin-bottom: 68px;
  }
}

.page-header__tel {
  color: $text-light;
  font-family: $ff-alumniSans;
  font-size: 26px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.78px;

  @include vp-1365 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.48px;
  }

  @include vp-767 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.4px;
  }
}
