.reviews {
  padding-top: 120px;
  padding-bottom: 119px;
  position: relative;

  @include vp-1199 {
    padding-top: 91px;
    padding-bottom: 99px;
  }

  @include vp-767 {
    padding-top: 63px;
    padding-bottom: 69px;
  }
}

.reviews__container {
  width: 710px;
  margin: 0 auto;
  position: relative;

  @include vp-1199 {
    width: 682px;
  }

  @include vp-767 {
    width: 290px;
  }
}

.reviews__slider {
  width: 560px;
  margin: 0 auto;

  @include vp-1199 {
    width: 566px;
  }

  @include vp-767 {
    width: 226px;
  }
}

.reviews__title {
  text-align: center;
  margin-bottom: 37px;

  @include vp-1199 {
    margin-bottom: 41px;
  }

  @include vp-767 {
    margin-bottom: 42px;
  }
}

.reviews__slide {
  min-height: 242px;

  @include vp-767 {
    min-height: 335px;
  }
}

.reviews__arrow {
  width: 56px;
  height: 56px;
  margin-top: 52px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  transform: translateY(-50%);

  @include vp-1199 {
    margin-top: 46px;
  }

  @include vp-767 {
    width: 30px;
    height: 30px;
    padding: 5px;
    margin-top: 40px;
  }

  &::after {
    display: none;
  }

  &--prev {
    left: -3px;

    @include vp-1199 {
      left: -20px;
    }

    @include vp-767 {
      left: -10px;
    }
  }

  &--next {
    right: 0;

    @include vp-1199 {
      right: -18px;
    }

    @include vp-767 {
      right: -10px;
    }
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.3;
  }

  @include hover-focus {
    border: 1px solid $stroke-dark;
  }

  @include active {
    background-color: $stroke-dark;
  }

  &:active {
    background-color: $stroke-dark;
  }
}

.reviews__arrow svg {
  color: $icon-dark;
  width: 19px;
  height: 32px;

  @include vp-767 {
    width: 10px;
    height: 19px;
  }

  &:active {
    color: $color-default-white;
  }

  @include active {
    color: $color-default-white;
  }
}
