.subs {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: $color-grey;

  @include vp-1199 {
    padding-top: 101px;
    padding-bottom: 98px;
  }

  @include vp-767 {
    padding-top: 63px;
    padding-bottom: 68px;
  }
}

.subs__title {
  text-align: center;
  margin-bottom: 17px;

  @include vp-1199 {
    margin-bottom: 19px;
  }

  @include vp-767 {
    margin-bottom: 21px;
  }
}

.subs__tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subs__tabs-controls {
  display: flex;
  justify-content: center;
  column-gap: 46px;
  margin: 0 auto;
  margin-bottom: 52px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    transform: translateY(13px);
    background-color: rgba(120, 120, 120, 0.2);

    @include vp-767 {
      transform: translateY(15px);
    }
  }

  @include vp-1199 {
    margin-bottom: 57px;
    column-gap: 54px;
  }

  @include vp-767 {
    column-gap: 45px;
    margin-bottom: 49px;
  }
}

.subs__tabs-control {
  padding: 0;
  color: rgba(16, 38, 84, 0.5);
  font-size: 20px;
  line-height: 150%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;

  &.is-active {
    color: #102654;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      bottom: 0;
      transform: translateY(13px);
      left: 0;
      background-color: #d10a42;

      @include vp-767 {
        transform: translateY(15px);
      }
    }
  }

  @include vp-1199 {
    font-size: 18px;
  }

  @include vp-767 {
    font-size: 16px;
  }

  @include hover-focus {
    color: #102654;
    outline: none;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      bottom: 0;
      transform: translateY(13px);
      left: 0;
      background-color: #d10a42;

      @include vp-767 {
        transform: translateY(15px);
      }
    }
  }
}

.subs__tabs-element[data-tabs="element"] {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  // position: relative;
  z-index: 3;

  @include vp-1199 {
    display: flex;
    flex-direction: column;
  }

  @include vp-767 {
    grid-column-gap: 0;
    grid-row-gap: 0;
    row-gap: 35px;
  }
}

.subs__tabs-card {
  max-width: 360px;

  @include vp-1199 {
    max-width: 442px;
  }

  @include vp-767 {
    max-width: 100%;
  }
}
