.video {
  position: relative;

  & img {
    width: 100%;
    height: 228px;
    object-fit: cover;

    @include vp-1365 {
      height: 167px;
    }

    @include vp-767 {
      height: 167px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(20, 54, 122, 0.5);
    z-index: 1;
  }

  & iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.video__bg-hide {
  &::after {
    display: none;
  }
}

.video__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    background-image: url("../../img/svg/video-btn-default.svg");
    background-repeat: no-repeat;
  }
}

.video__btn--hide {
  display: none;
}

.video__btn:focus::before,
.video__btn:hover::before,
.video__btn:active::before {
  background-image: url("../../img/svg/video-btn-active.svg");
}

.video__btn:disabled::before {
  background-image: url("../../img/svg/video-btn-disabled.svg");
}
